In [6]:
from functions import data_functions as data
import pandas as pd

In [2]:
df = data.data('questionnaire_data.csv','t2')

In [32]:
edeq_df = df[['7.', '25.', '26.', '27.', '28.', '29.', '30.', '31.', '33.', '34.', '35.', '36.',
                  '37.', '38.', '39.', '47.', '48.', '49.', '50.', '51.', '52.', '53.', '54.']]
hads_df = df.loc[:, '73.':'86.']
oci_df = df.loc[:, '55.':'72.']
wsas_df = df.loc[:, '97.':'101.']
aq_df = df.loc[:, '87.':'96.']

In [33]:
null_check = pd.concat([edeq_df, hads_df, oci_df, aq_df, wsas_df ], axis=1)

In [ ]:
print('number of ede-q missing values', edeq_df.isnull().sum())
print('number of hads missing values', hads_df.isnull().sum())
print('number of wsas missing values', wsas_df.isnull().sum())
print('number of aq missing values', aq_df.isnull().sum())
print('number of oci missing values', oci_df.isnull().sum())

In [36]:
null_values = null_check[null_check.isna().any(axis=1)]
print(null_values['7.'])

2      B1003
9      B2006
10     B2002
29     B1023
31     B1015
34     B1021
39     B2032
49     B2039
52     B2026
63     B1025
64     B2051
67     B2052
84     B1031
123    B2053
132    B1045
Name: 7., dtype: object

In [4]:
duplicates = df[df['7.'].duplicated()]
print(duplicates.index)
print(duplicates['7.'])

Int64Index([], dtype='int64')
Series([], Name: 7., dtype: object)

B2025 - two B2025 values
B1040 - not a repeat someone else has same DoB
B2090 - two B2090 (138, 131 )
B2999 - drop as b2091 is first round
B2076 - two (111, 141)
B2018 two (86, 143 )
1009 - drop as orginal is B1009
B1031 - duplicate. Orginal one has a space after B1031.
B2033 - two B2033
B2043 - two B2043
B2039 - two B2039
2030 -  B2030 original
B2083 - two B2083
B2088 - two B2088
B2047 - two B2047
2065 - drop as B2065 is original

In [20]:
duplicates_b = df[df['7.'].duplicated()]
print(duplicates_b.index)
print(duplicates_b['7.'])

Int64Index([72, 136, 139, 141, 143, 144, 152, 156, 158, 159, 160, 167, 178,
            181, 182],
           dtype='int64')
72     B2025
136    B2090
139    B2076
141    B2018
143    B1009
144    B1031
152    B2033
156    B2043
158    B2039
159    B2030
160    B2083
167    B2088
178    B2047
181      NaN
182    B2065
Name: 7., dtype: object

In [21]:
dropindex = [72, 136, 138, 139, 141, 143, 144, 152, 156, 158, 159, 160, 167, 176, 178, 181, 182]

In [22]:
cleaned_df = data.data('questionnaire_data.csv','t2', clean=True, drop_index=dropindex)

In [23]:
cleaned_df.shape

(134, 179)

In [24]:
hc = cleaned_df[cleaned_df['7.'].str.contains('B1')]
aan = cleaned_df[cleaned_df['7.'].str.contains('B2')]

In [25]:
print('Number of AAN participants is', aan.shape[0])
print('Number of HC participants is', hc.shape[0])

Number of AAN participants is 95
Number of HC participants is 39